/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

#include "ar9344.dtsi"

/ {
	model = "TP-Link WDR4300";
	compatible = "tplink,tl-wdr4300";

	aliases {
		serial0 = &uart0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x8000000>;
	};

	chosen {
		stdout-path = &uart0;
	};
};

&ref {
	clock-frequency = <40000000>;
};

&uart0 {
	status = "okay";
	clock-frequency = <40000000>;
};
