#include <mips/qca/ar9331_tl_mr3020.dts>

/ {
	aliases {
		spiflash = &spiflash;
	};

	chosen {
		environment@0 {
			compatible = "barebox,environment";
			device-path = &spiflash, "partname:barebox-environment";
		};
	};

	ahb {
		mac0: mac@19000000 {
			compatible = "qca,ar7100-gmac";
			reg = <0x18070000 0x00000100>,
			      <0x19000000 0x01000000>;
			reg-names = "gmac", "ge0";
			phy-mode = "mii";
			status = "okay";
			/* status = "disabled"; */
		};
	};
};

&spiflash {
	partition@0 {
		label = "barebox";
		reg = <0 0x80000>;
	};

	partition@80000 {
		label = "barebox-environment";
		reg = <0x80000 0x10000>;
	};
};
