if ARCH_ALPHASCALE

config ARCH_TEXT_BASE
	hex
	default 0x20800000

comment "Alphascale ARM926ejs System-on-Chip"

choice
	prompt "Alphascale ARM926ejs Processors"

config SOC_ALPHASCALE_ASM9260
	bool "ASM9260"
	select CPU_ARM926T

endchoice

endif


# ----------------------------------------------------------

if ARCH_ALPHASCALE

choice
	prompt "ASM9260T Board Type"

config MACH_ASM9260_DEVKIT
	bool "Alphascale ASM9260 Evaluation Kit"
	help
	  Select this if you are using Alphascale's ASM9260 Evaluation Kit.
	  <http://www.alphascale.com>

endchoice

endif
# ----------------------------------------------------------
