if ARCH_ALPHASCALE

comment "Alphascale ARM926ejs System-on-Chip"

choice
	prompt "Alphascale ARM926ejs Processors"

config SOC_ALPHASCALE_ASM9260
	bool "ASM9260"
	select CPU_ARM926T

endchoice

endif


# ----------------------------------------------------------

if ARCH_ALPHASCALE

choice
	prompt "ASM9260T Board Type"

config MACH_ASM9260T_EVK
	bool "Alphascale ASM9260T-EVK Evaluation Kit"
	help
	  Select this if you are using Alphascale's ASM9260T-EVK Evaluation Kit.
	  <http://www.alphascale.com>

endchoice

endif
# ----------------------------------------------------------
