if MACH_MIPS_AR231X

config ARCH_TEXT_BASE
	hex
	default 0xa0800000

config BOARDINFO
        default ""

if DEBUG_LL
choice
	prompt "DEBUG_LL port"

config AR231X_DEBUG_LL_UART0
	bool "AR2312 - UART0"

config AR231X_DEBUG_LL_UART1
	bool "AR2315 - UART1"

endchoice
endif # DEBUG_LL


endif
